textarea {
  margin-left: 150px;
  margin-top: 50px;
  background-color: #e4f5dc;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px;
}
h1{ 
    font-family: 'Times New Roman', Times, serif; font-size: 70px; font-weight: bold; color: #000000; text-align: center;
}

.header-title {
  font-size: 3.8rem;
  line-height: 0.8;
  color: var(--dark-one);
  position: relative;
  left: 40%;
  top: 40px;

  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 4rem; 
  color: var(--light-one);
  width: max-content; 
  margin-bottom: 10px;
}
