.header-title {
  font-size: 3.8rem;
  line-height: 0.8;
  color: var(--dark-one);
  position: relative;
  left: 30%;
  top: 100px;

  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 4rem; 
  color: var(--light-one);
  width: max-content; 
  margin-bottom: 10px;
}

.header-content .container.grid-2 {
  grid-template-columns: 2.5fr 3.5fr;
  min-height: calc(100vh - 6rem);
  padding-bottom: 2.5rem;
  text-align: left;
} 

.resultados{
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 2rem; 
  color: var(--light-one);
  width: max-content;
  background-color: #74e79e;
  margin-bottom: 10px;
}

.img-element{
  max-width: 750px;
  position: relative;
  z-index: 2;
} 
.column {
  margin-right: 1.5rem;
  position: relative;
  left: 270px;
  top: 60px;
} 

.datos{
  margin-top: 150px; 
           margin-left: 270px;
          height: 400px; width: 500px;
          font-weight: bold; 
          border: 5px solid #26cd3c; border-radius: 20px;
          background-color: #a9eb7d;
}