<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="medirfrecuencia.component.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<body>
  <main>
    <header>
      <h4 class="header-title">FRECUENCIA OBTENIDA</h4>
      <div class="header-content">
        <div class="container grid-2"> 
          <div class="datos"> 
          <h2 style="  position: absolute;  left: 600px; top: 310px;">Pulsaciones por segundo:</h2>
          <h2 style="   position: absolute; left: 600px; top: 400px;">Fecha:</h2>
          <h2 style="   position: absolute; left: 600px; top: 480px;">Riesgo de infarto:</h2>
          <div style="margin-left: -260px;
           position: relative; top: -2px;" class="column">
            <br /><br />
          
            <input 
              class="resultados"
              [value]="cantPulsaciones"
              style="
                border: 2px solid #ccc;
                padding: 10px;  
                font-size: 18px;
                width: 130px;
                height: 30px;
              "
              type="text"
              name="name"
            />


            <input 
            class="resultados"
            [value]="fecha"
            style="
              border: 2px solid #ccc;
              padding: 10px;  
              font-size: 18px;
              width: 130px;
              height: 30px;
            "
            type="text"
            name="name"
          />


          <input 
          class="resultados"
          [value]="riesgo"
          style="
            border: 2px solid #ccc;
            padding: 10px;  
            font-size: 18px;
            width: 130px;
            height: 30px;
          "
          type="text"
          name="name"
        />
 
          
          </div>

          <!-- <div style="margin-top: -50px; margin-left: -260px;" class="column" *ngFor="let a of audio">
            <h2>Audio obtenido:</h2>
          <audio id="audio" controls>
              <source
                src="https://sensortdd4iots-production.up.railway.app/paciente/download?key={{a.audio}}"
                type="audio/mpeg"
              />
            </audio> 
          </div> -->
        </div>
        
        </div>
      </div>
    </header>
  </main>
</body>
