
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="ingreso.component.css" /> 
</head>


<body style="background-color: white;">
    <div class="login-wrap column-1">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingreso</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registro</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Nombre de usuario</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div> 
                    <div class="group group--bottom">
                        <input type="submit" class="button" value="Ingresar">
                    </div>
                    <div class="hr"></div>
                    
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Nombre</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Apellido</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Edad</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div> 
                    <div class="group">
                        <label for="user" class="label">Genero</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Numero de telefono</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div> 


                    <div class="group">
                        <label for="user" class="label">Nombre de usuario</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repetir contraseña</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div> 
                    <div class="group">
                        <input type="submit" class="button" value="Registrarse">
                    </div>
                    <div class="hr"></div>
                
                </div>
            </div>
        </div>
    </div>
      <script src="registro.component.js"></script>
</body>
 
<footer style="background-color: white;">

</footer>