<div *ngIf="showTemplate === 'true'">
  
<header style="background:rgba(5, 168, 94, 0.9);">
    <nav class="menupr"  > 
        <div>
        <ul style="display: flex; flex-direction: row;">
        <li> 
        <a class="nav-link active" routerLink="inicio">INICIO</a>     
        </li> 
        <li>  
            <a class="nav-link active" routerLink="medirfc">MEDIR FRECUENCIA CARDIACA</a>  
        </li>        
        <li>  
            <a class="nav-link active" routerLink="graf">VER GRAFICOS</a>   
        </li>   
        <li> 
            <a class="nav-link active" routerLink="ingreso"  (click)="logout()">SALIR</a>   
            </li>         
        </ul>
        </div>
        
        </nav>
     
</header>
 </div>
 
 <router-outlet style="background-color: white;"></router-outlet> 
 