<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="inicio.component.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<body>
  <main>
    <header>
      <div class="overlay overlay-lg">
        <img
          src="../../../assets/img_inicio/background/fondo1.jpg"
          class="backimg1"
          alt=""
        />
        <img
        src="../../../assets/img_inicio/background/fondo2.jpg"
        class="backimg2"
        alt=""
      />
        <img
          src="../../../assets/img_inicio/background/fondo3.jpg"
          class="backimg2"
          alt=""
          style="position: relative; left: 600px"
        />  
      </div>
 

      <div class="header-content">
        <div class="container grid-2">
          <div class="column-1">
            <h1 class="header-title">Cardiac Sensor</h1>
            <p class="text">
              Un sistema sencillo e intuitivo para la correcta medicion de la
              frecuencia cardiaca del usuario. el sistema debe incluir un
              mecanismo de alerta que permita al usuario detectar rápidamente
              los latidos anormales, así como una función de monitoreo para
              mostrar la frecuencia cardíaca durante un tiempo prolongado.
            </p>
          </div>

          <div class="column-2 image">
           
            <img
            src="../../../assets/img_inicio/medirpulsoimg.png"
            class="img-element"
            alt=""
          />
          </div>
        </div>
      </div>
    </header>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="bottom-footer">
        <div class="copyright">
          <p class="text">
            Copyright&copy;2023 All rights reserved | Made by
            <span>Sebastian Perez and Rosa Baren</span>
          </p>
        </div>
 
      </div>
    </div>
  </footer> 
</body>
