  
<form class="mb-0" [formGroup]="tareaForm">

    <table class="width-right bg-info bg-gradient table-font-size">
      <thead class="text-white bg-dark" >
          <th>ID</th>
          <th>USERNAME</th>
          <th>PASSWORD</th>
          <th></th>
      </thead>

      <tbody class="bg-info">
          <tr *ngFor="let t of tarea">
             <td>{{ t.id}}</td>
             <td>{{ t.nombredeusuario}}</td>
             <td>{{ t.clave}}</td>
             <td>{{ t.tipodeusuario}}</td>
          </tr>
      </tbody>
  </table>

</form>  